<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link href="https://fonts.googleapis.com/css?family=Do+Hyeon" rel="stylesheet">

    <title>UI Sprint Design</title>

  </head>
  <body>
      <!--------- HEADER ------------>
      <header>
        <div class="navbar">
          <div class="logo">
            <%= image_tag("logo.jpg", :class =>"img_logo") %>
          </div>
          <div class="name">
            <p>UI <br/>SPRINT</br/> DESIGN</p>
          </div>

        </div>
        <div class="button">
          <ul class="menu">
              <li>
                <a href="#section1" class="mybutton">Tab</a>
              </li>
              <li>
                <a href="#section2" class="mybutton">Card</a>
              </li>
              <li>
                <a href="#footer" class="mybutton">Contact</a>
              </li>
          </ul>
        </div>
        <div class="avatar">
          <ul class="avatar_dropdown">
            <li>
              <%= image_tag("avatar.jpeg", :class =>"img_avatar") %>
              <%= image_tag("download.png") %>
                <ul class="dropdown">
                  <li><a href="#section1">Tab</a></li>
                  <li><a href="#section2">Card</a></li>
                  <li><a href="#footer">Contact</a></li>
                </ul>
            </li>
          </ul>
        </div>
      </header>

        <!--------- Main Section ------------>
      <section id="section1">
        <div class="banner">
          <%= image_tag("paysage.jpg", :class => 'img' )%>
          <div class="title_center"> <h1>WELCOME TO </br/> UI SPRINT DESIGN</h1>
          </div>
          <button class="btn">Découvrir</button>
        </div>
      </section>

        <!--------- Card Section 2 ----->
      <section2 id="section2">
        <div class="cards">
          <div class="column">
            <%= image_tag("field.jpg", :class => 'img_field' )%>
              <div class="cards_title">
                <h3>Bienvenue au pré</h3>
                <br/>
                <h5>Enjoy</h5>
              </div>
          </div>
          <div class="column">
            <%= image_tag("oldcar.jpg", :class => 'img_oldcar' )%>
              <h3>Old school</h3>
              <br/>

          </div>
          <div class="column">
            <%= image_tag("river.jpg", :class => 'img_river' )%>
          </div>
        </div>
      </section2>

        <!--------- Footer ------------>
      <footer class="social-footer" id="footer">
        <div class="made">
          <p>Made with  ❤️ By Romain</p>
        </div>
        <div class="social-footer-icons">
          <ul class="menu_footer">
            <%= image_tag("facebook-logo.png", :class => 'logo_fb' )%>
            <%= image_tag("instagram-logo.png", :class => 'logo_ig' )%>
            <%= image_tag("pinterest.png", :class => 'logo_pinterest' )%>
            <%= image_tag("twitter.png", :class => 'logo_twitter' )%>
          </ul>
        </div>
    </footer>
  </body>
</html>
